@use "../foundation/base" as *;
.l-footer {
  padding-bottom: 60px;
  padding-top: 30px;
  // background-color: #917347;
  background-color: #24140e;
  color: #fff;
  text-align: left;
  font-size: 1.2rem;
  position: relative;
  z-index: 10;
}
